.root{
    width: 50%;
    color: #000000;
    text-decoration: none;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}

@media (max-width: 760px) {
    .root {
        width: 90%
    }
}

.main {
    display:flex;
    vertical-align: middle;
    padding: 0;

}




.img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.icon{
    padding:0;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.root a {
    width: 100%;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.root a.activeLink {
    color: #dc004e;
}
