.dialogs {
    display: grid;
}

.dialogsItems {
}


.dialogsMenu {
    display: none;
}

.dialogsItems a {
    /*padding: 10px;*/
    color: #000000;
    text-decoration: none;
    display: flex;
    vertical-align: middle;


}

.dialogsItems a.activeLink {
    color:#dc004e;
}


.messages {
    padding: 5px;
    margin: 5px;

}

.message {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.icon {
    height: 20px;


}

.img {
    width: 80px;

    border-radius: 30px;
}

.newMessagesCount {

    height: 30px;
    vertical-align: middle;


}

