.dialogs {
    display: grid;
}

.dialogsItems {
}


.dialogsItems a {
    color: #000000;
    text-decoration: none;
    display: flex;
    vertical-align: middle;
}

.dialogsItems a.activeLink {
    color:#dc004e;
}


.messages {
    padding: 5px;
    margin: 5px;

}



