
.drawer {
    width: 240px;

}

@media (max-width: 500px) {
    .drawer {
        width: 100%;
    }
}


.dialogs {
    display: flex;
    justify-content: center;

}


.messages {

}

@media (max-width: 770px) {
    .dialogs {
        display: block;
    }
}

