.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: indianred;
}

.inputForm {
    width: 600px;
}

@media (max-width: 760px) {
    .inputForm {
        width: 80%
    }
}

.formControl textarea {
    width: 600px;
}

@media (max-width: 1000px) {
    .formControl textarea {
        width: 80%
    }
}