.root{
    width: 50%;
}

@media (max-width: 760px) {
    .root {
        width: 90%
    }
}

.main {
    display:flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0;

}


.img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}


.button{
    padding:0;
    display: flex;
    vertical-align: middle;
    align-items: center;
}



.main a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.main a.activeLink {
    color: #dc004e;
}




