.content {
    grid-area: c;
    background-color: cornflowerblue;
    text-align: center;


}
.item {
    color: black;
    border: black solid 1px;
    margin: 5px;
    width: 500px;
    border-radius: 30px;

}

.item img {
    width: 80px;
    height: 80px;
    border-radius: 30px;
}

.text{
    margin-left: 20px;
}
.maineLake{
    font-size: 9px;
    /*width: 30px;*/
}

.like{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;

}

.Btn{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 5px;
}

