
.item {
    background-color: #ece9e9;
    margin: 5px;
    display: grid;

}

.item img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: yellow;



}

.text{
    background-color: wheat;

}


.like{
    background-color: blueviolet;
justify-content: flex-end;
}



.Btn a{
    background-color: red;

}

