
.main {
    height: 100vh;
    text-align: center;

}


.friend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /*display: grid;*/
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/


}
