.main {
    text-align: center;
}

.users {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.user {

}

.img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
}