.nav {
    grid-area: n;
    display: flex;

}

.item {
    /*display: flex;*/
    /*vertical-align: center;*/
}

.item a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.item a.activeLink {
    color: #dc004e;
}

.newMessagesCount {
    padding: 2px;
    border: red solid 1px;
    background-color: #d08383;
}


